venv/
__pycache__/
database.sqlite3
help.txt
.env
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
student-mgt
.Python
build/
develop-eggs/
dist/
downloads/
env/
lib/


# Ignore build output
/dist/

# Ignore dependencies
/node_modules/

# Ignore environment-specific settings
.env.local
.env.development.local
.env.production.local

# Ignore IDE and editor specific files
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

# Ignore logs and build cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cypress/
.cypress-logs/
.cypress-debug.log
